@using AutoFrontend.Models
@using Microsoft.AspNetCore.Components.Web

@inject FrontendModel frontendModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link href="_content/AutoFrontend.BlazorServer/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="_content/AutoFrontend.BlazorServer/css/site.css" rel="stylesheet" />
    <link href="_content/AutoFrontend.BlazorServer/AutoFrontend.BlazorServer.bundle.scp.css" rel="stylesheet" />

    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>
<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>